
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <style>
    @import url('/static/subpage/css/subpage.css');
  </style>
</head>
<body>
  <header class="header">
    <div class="container">
      <div class="logo">moit</div>
        <nav class="nav">
          <a href="#">meals</a>
          <a href="#">study</a>
          <a href="#">game</a>
          <a href="#">exercise</a>
        </nav>
      <div class="util">🔍 👤</div>
    </div>
  </header>

<main class="main">
  <section class="section-top">
    <div class="container">
      <div class="filter-buttons">...</div>
      <div class="card-grid">...</div>
    </div>
  </section>

  <section class="section-bottom">
    <div class="container">
        <div class="category-header">...</div>
        <div class="list-layout">...</div>
    </div>
  </section>
</main>

<footer class="footer">
  &copy; 2025 moit. All rights reserved.
</footer>
</body>

</html>