<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>프로필 작성</title>
</head>
<body>
    <h1>{{ username }}님의 Profile Setup</h1>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        <label for="nickname">{{ form.nickname.label }} (필수):</label><br>
        {{ form.nickname }}
        {% if form.nickname.errors %}
            <span style="color: red;">{{ form.nickname.errors }}</span>
        {% endif %}

        <p>
            <label for="mbti">{{ form.mbti.label }} (선택):</label><br>
            {{ form.mbti }}
        </p>

        <p>
            <label for="gender">{{ form.gender.label }} (선택):</label><br>
            {{ form.gender }}
        </p>

        <p>
            <label for="age">{{ form.grade.label }} (선택):</label><br>
            {{ form.grade }}
        </p>

        <p>
            <label for="college">{{ form.college.label }} (선택):</label><br>
            {{ form.college }}
        </p>

        <p>
            <label for="self_introduce">{{ form.self_introduce.label }} (선택):</label><br>
            {{ form.self_introduce }}
        </p>

        <p>
            <label for="profile_img">{{ form.profile_img.label }} (선택):</label><br>
            {{ form.profile_img }}
        </p>

        <button type="submit">저장</button>
    </form>
</body>
</html>