<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
    <h2>회원가입</h2>

    <form action='' method="POST">
        {% csrf_token %}
        
        <!-- 사용자명 -->
        <div>
            <label for="username">{{form.username.label}}:</label>
            {{ form.username }}
            {% if form.username.errors %}
                <div style="color:red;">{{ form.username.errors.0 }}</div>
            {% endif %}
        </div>

        <!-- 비밀번호 -->
        <div>
            <label for="password">{{form.password.label}}:</label>
            {{ form.password }}
            {% if form.password.errors %}
                <div style="color:red;">
                    {% for error in form.password.errors %}
                        <div>{{error}}</div>    
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <!-- 비밀번호 확인 -->
        <div>
            <label for="password_check">{{form.password_check.label}}:</label>
            {{ form.password_check }}
            {% if form.password_check.errors %}
                <div style="color:red;">{{ form.password_check.errors.0 }}</div>
            {% endif %}
        </div>

        <!-- 성 -->
        <div>
            <label for="first_name">{{form.first_name.label}}:</label>
            {{ form.first_name }}
        </div>

        <!-- 이름 -->
        <div>
            <label for="last_name">{{form.last_name.label}}:</label>
            {{ form.last_name }}
        </div>

        <!-- 이메일 -->
        <div>
            <label for="email">{{form.email.label}}:</label>
            {{ form.email }}
            {% if form.email.errors %}
                <div style="color:red;">{{ form.email.errors.0 }}</div>
            {% endif %}
        </div>
        
        <button type="submit">가입하기</button>
    </form>
</body>
</html>