@import url('../layout_page.css');

/* ─────────────── 검색 섹션 ─────────────── */
.search-section {
    /* 헤더 + 푸터 높이 제외 */
    /* min-height: calc(100vh - 65px - 160px);  */
    /* 헤더 공간 고려 */
    /* min-height: 100vh;
    margin-top: 100px;                    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    

  /* flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;  */
  /* 푸터 밀림 방지 */
/* 
  min-height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 3rem; */

  /* 검색창 위로 올라가는 효과*/
  transition: transform 0.4s ease, padding-top 0.4s ease;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;   /* 정중앙 정렬 */
  align-items: center;
  transform: translateY(-5vh);  /* 살짝 위로 올림 */
}

.search-section.shrink {
  transform: translateY(-100px);
  padding-top: 30px;
}

.result-section {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.search-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  letter-spacing: 1px;
}

.result-section.hidden {
  opacity: 0;
  transform: translateY(40px);
  pointer-events: none;
}

/* ─────────────── 검색 입력창 ─────────────── */
.search-box {
  display: flex;
  align-items: center;
  width: 40%;
  min-width: 300px;
  padding: 0.6rem 1.2rem;
  border: 1px solid #ccc;
  border-radius: 2rem;
  background-color: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05); /* 강조용 */
}

.search-box input {
  flex: 1;
  font-size: 1rem;
  padding: 0.4rem 0.5rem;
  border: none;
  outline: none;
  background: transparent;
  color: #444;
}

.search-box input::placeholder {
  color: #ccc;
}

.search-box button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1.3rem;
  color: #e74c3c;
}

.search-box button:hover {
  color: #ff6a4c;
}
